.analysis_heading{

    margin:10px 10px 0px 10px;
    font-family: "Calibri";
    font-size: 22px;
    border-radius: 6px;
    background-color: #bdb8eb;
    font-weight: bold;
}
.analysis_subheading{
    margin:10px 10px 0px 10px;
    font-family: "Calibri";
    font-size: 20px;
    border-radius: 6px;
    background-color: #8d8d91;
    font-weight: bold;
}
.analysis_content{

    margin:0px 10px 0px 10px;
    font-family: "Calibri";
    font-size: 20px;
    border-radius: 12px;
    text-align: justify;
    
}
#analysis_num_factors{

    margin:0px 10px 0px 10px;
    font-family: "Calibri";
    font-size: 20px;
    border-radius: 12px;
    text-align: justify;
    display: inline-flex;
    width: 98%;
}

#analysis_state_compare{
    display: inline-block;
    height: 400px;
    overflow-y: scroll;
    overflow-x: scroll;
}

#analysis_state_clusters{
    display: inline-block;
    overflow-y: scroll;
}

#analysis_cluster_final{
    display: flex;
    overflow-y: scroll;
    flex-direction: row;

}