.datasource_heading{

    margin:10px 10px 0px 10px;
    font-family: "Calibri";
    font-size: 22px;
    border-radius: 6px;
    background-color: #bdb8eb;
    font-weight: bold;
}

.datasource_content{

    margin:0px 10px 0px 10px;
    font-family: "Calibri";
    font-size: 20px;
    border-radius: 12px;
    text-align: justify;
    
}

#datasource_table{
    margin:10px 10px 0px 10px;
    height: 325px;
    border-radius: 12px;
    overflow-y: scroll;
    border:2px solid black;

}